/node_modules
/public/build
/storage/app/private
/database/database.sqlite

.env
.env.example
.editorconfig

.git/
.github/
.gitignore
.gitattributes
.gitlab-ci.yml

.dockerignore
Dockerfile
docker-compose.yaml

README.md
CONTRIBUTING.md
LICENSE
